force-app/main/default/flows/SelectedJobApplications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assigntheclosedfield</name>
        <label>Assign the closed field</label>
        <locationX>195</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>UpdatedRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRecord.Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdatedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_records</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SelectedJobApplications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SelectedJobApplications</label>
    <loops>
        <name>Loop_through_records</name>
        <label>Loop through records</label>
        <locationX>193</locationX>
        <locationY>141</locationY>
        <assignNextValueToReference>Record</assignNextValueToReference>
        <collectionReference>SelectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigntheclosedfield</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_the_applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Close_the_applications</name>
        <label>Close the applications</label>
        <locationX>448</locationX>
        <locationY>137</locationY>
        <connector>
            <targetReference>Final</targetReference>
        </connector>
        <inputReference>UpdatedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Final</name>
        <label>Final</label>
        <locationX>636</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Closed</name>
            <fieldText>The selected job applications have been closed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Loop_through_records</startElementReference>
    <status>Active</status>
    <variables>
        <name>Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
    <variables>
        <name>SelectedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
    <variables>
        <name>UpdatedRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
    <variables>
        <name>UpdatedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
</Flow>
